    <div class="grid-container">
        {% for post in postslist %}
            <div class="grid-item">
                <strong>
                    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                </strong>
                -
                <span>
                    {{ post.data.description }}
                </span>
            </div>
        {% endfor %}
    </div>