---
layout: layouts/base.njk
---
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="src/css/styles.css">
 <title>Responsive Tiles</title>
 <h2>{{ title }}</h2>
 <img src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
 <p>{{ content | safe }}</p>
